<h1>All Photos</h1>

<a href="/photos/new">
    Add a new photo
</a>

<div>
  <% @pics.each do |the_photo| %>

  <img src="<%= the_photo.source %>">
    <div>
      <a href="/photos/<%= the_photo.id %>/edit">Edit</a>
    </div>
    <div>
      <a href="/delete_photo/<%= the_photo.id %>">Delete</a>
    </div>
  <% end %>
</div>